extends ../layout
block content

    h1 Fehlzeit ändern
    h2 #{Meldung}
    form.pure-form(action='http://127.0.0.1:3000/ap2/feAendernA', method='get')
        h2 Alte Fehlzeit
        label(for='old_vondate')
            | Von:
        input(type='date', name='old_vondate', readonly='readonly', value=old_vondate)
        label(for='old_bisdate')
            | Bis:
        input(type='date', name='old_bisdate', readonly='readonly', value=old_bisdate)
        label(for='old_kat')
            | Kategorie:
        input(type='text', name='old_kat', readonly='readonly', value=old_kat)
        h2 Neue Fehlzeit
        label(for='new_vondate')
            | Von:
        input(type='date', name='new_vondate', value=old_vondate)
        label(for='new_bisdate')
            | Bis:
        input(type='date', name='new_bisdate', value=old_bisdate)
        br
        input(type='radio', name='new_kat', value='krank')
        | Krank
        br
        input(type='radio', name='new_kat', value='urlaub')
        | Urlaub
        br
        input(type='radio', name='new_kat', value='homeOffice')
        | Home Office
        br
        input(type='radio', name='new_kat', value='abwesend')
        | Abwesend
        br
        input(type='hidden', name='maNr' value=old_maNr)
        input(type='hidden', name='feId' value=old_feId)
        input(type='submit', value='aendern')
