extends ../layout

block content
    .content

        form.pure-form(method="GET")
            fieldset
                if (selected_employee)
                    input#maNr.inputField.hidden(name="maNr" value=selected_employee)

                label(for="fromDate") Von:
                input#fromDate.inputField(name="fromDate" value=(fromDate ? fromDate : ""))

                label(for="tillDate") Bis:
                input#tillDate.inputField(name="tillDate" value=(tillDate ? tillDate : ""))

                button(type='submit').pure-button.search-button Suchen


        table.pure-table.pure-table-horizontal
            thead
                tr

                    th Datum
                    th Eingestempelt
                    th Ausgestempelt

            tbody

                if (stamplist)

                    -var n = 0;
                    while n < stamplist.length
                        tr
                            if (stamplist[n])
                                //crappy code for crappy apis..
                                -var month = stamplist[n].timestamp.getMonth() + 1
                                td(contenteditable=true) #{stamplist[n].timestamp.getDate() + "." + month + "." + stamplist[n].timestamp.getFullYear()}

                                td #{stamplist[n].timestamp.getHours() + ":" + stamplist[n].timestamp.getMinutes()}
                                    if (selected_employee)
                                        a.pure-button.table-button(href="/stamps/admin/change?stamp_no=" + stamplist[n].stamp_no +
                                        "&maNr=" + selected_employee +
                                        "&fromDate=" + fromDate +
                                        "&tillDate=" + tillDate) Edit

                                td.hidden=n++
                            if (stamplist[n])
                                td #{stamplist[n].timestamp.getHours() + ":" + stamplist[n].timestamp.getMinutes()}
                                    if (selected_employee)
                                        a.pure-button.table-button(href="/stamps/admin/change?stamp_no=" + stamplist[n].stamp_no +
                                        "&maNr=" + selected_employee +
                                        "&fromDate=" + fromDate +
                                        "&tillDate=" + tillDate) Edit
                                td.hidden=n++

